body {
    margin-top: 75px;
}

footer {
    margin: 10px 0;
}

.navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #f9ae39 !important;
}

#comments,
#comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
}

.photo {
    margin-bottom: 10px;
}

.social-buttons button {
    margin-top: 5px;
}

.social-buttons a:hover {
    text-decoration: underline;
}

.card-title {
    margin-bottom: 0.3rem !important;
}

.card-title a {
    color: #020202;
}

.card-title a:hover {
    color: #f9ae39;
    text-decoration: none;
}

.card-footer {
    font-size: 0.8rem;
}

.post-card {
    margin: 12px 0;
}

.category-link {
    color: #6c757d !important;
}

.d-flex {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    padding: 6px 0px;
}

.ta-center {
    text-align: center !important;
}

.set-lang {
    margin: 0px 10px;
}

.locale-name {
    font-size: 14px;
    padding: 0px 4px;
}

.post-content {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    margin-top: 1rem;
    padding-right: 1rem;
}

.post-content a {
    background-color: #faedda;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #1a1a1a;
}

.post-content a:hover {
    background-color: #ffdeac;
    border-bottom: 1px solid rgba(0, 0, 0, 0.616);
    text-decoration: none;
    color: #1a1a1a !important;
}

.comment-section {
    width: 100%;
    padding: 2rem;
}

.dot {
    height: 5px;
    width: 5px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.meta-nav {
    color: #f9ae39;
    display: block;
    font-size: 1.1875rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 0.625rem;
    text-transform: uppercase;
}

.post-navigation {
    width: 100%;
    padding: 1.2rem 0;
}

.post-navigation a {
    display: block;
    color: #3d3d3d;
    position: relative;
    padding: 0;
}

.post-navigation a:hover {
    color: #f9ae39;
    text-decoration: none;
}

.nav-post-title {
    font-family: inherit;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #020202;
    text-decoration: none;
}

.right-side-link a {
    color: #0074cc;
    text-decoration: none;
}

.my-btn {
    background-color: #f9ae39 !important;
    border-color: #f9ae39 !important;
}

.my-btn:hover {
    background-color: #ff9d00 !important;
    border-color: #ff9d00 !important;
}
