body {
    margin-top: 75px;
}

footer {
    margin: 10px 0;
}

#comments,
#comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
}

.photo {
    margin-bottom: 10px;
}

.social-buttons button {
    margin-top: 5px;
}

.social-buttons a:hover {
    text-decoration: underline;
}

.card-title {
    margin-bottom: 0.3rem !important;
}

.card-footer {
    font-size: 0.8rem;
}

.post-card {
    margin: 12px 0;
}

.category-link {
    color: #6c757d !important;
}

.d-flex {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    padding: 6px 0px;
}

.ta-center {
    text-align: center !important;
}

.set-lang {
    margin: 0px 10px;
}

.locale-name {
    font-size: 14px;
    padding: 0px 4px;
}

.post-content {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    margin-top: 1rem;
    padding-right: 1rem;
}

.comment-section {
    width: 100%;
    padding: 2rem;
}

.dot {
    height: 5px;
    width: 5px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
